{
  "openapi": "3.1.0",
  "info": {
    "title": "ezkey site API",
    "version": "1.0.0",
    "summary": "Public read-only JSON API for ezkey documentation.",
    "description": "Documentation API only. The native macOS app has no network API. Authentication: none. Version 1 at /api/v1. Breaking changes require /api/v2. Deprecated routes use RFC 9745 Deprecation/Sunset with 90 days notice. Rate limit 60/min.",
    "contact": { "name": "ezkey", "url": "https://ezkey.app/contact/" },
    "license": { "name": "MIT", "url": "https://github.com/edtadros/ezkey/blob/master/LICENSE" }
  },
  "servers": [{ "url": "https://ezkey.app/api/v1", "description": "Current public API" }],
  "tags": [{ "name": "site", "description": "Read-only documentation" }],
  "paths": {
    "/health": { "get": { "operationId": "getHealth", "tags": ["site"], "summary": "Liveness", "description": "Return a liveness payload.", "responses": { "200": { "description": "The API is up.", "content": { "application/json": { "schema": { "type": "object" } } } }, "400": { "$ref": "#/components/responses/Problem" }, "404": { "$ref": "#/components/responses/Problem" }, "429": { "$ref": "#/components/responses/Problem" }, "500": { "$ref": "#/components/responses/Problem" } } } },
    "/overview": { "get": { "operationId": "getOverview", "tags": ["site"], "summary": "Product overview", "description": "Short description and source URL.", "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object" } } } }, "400": { "$ref": "#/components/responses/Problem" }, "404": { "$ref": "#/components/responses/Problem" }, "429": { "$ref": "#/components/responses/Problem" }, "500": { "$ref": "#/components/responses/Problem" } } } },
    "/build": { "get": { "operationId": "getBuildInstructions", "tags": ["site"], "summary": "Build instructions", "description": "Clone and build commands.", "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object" } } } }, "400": { "$ref": "#/components/responses/Problem" }, "404": { "$ref": "#/components/responses/Problem" }, "429": { "$ref": "#/components/responses/Problem" }, "500": { "$ref": "#/components/responses/Problem" } } } },
    "/pages/{page}": { "get": { "operationId": "getPage", "tags": ["site"], "summary": "Markdown page", "description": "Return Markdown for a named page.", "parameters": [{ "name": "page", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "Markdown wrapper.", "content": { "application/json": { "schema": { "type": "object" } } } }, "400": { "$ref": "#/components/responses/Problem" }, "404": { "$ref": "#/components/responses/Problem" }, "429": { "$ref": "#/components/responses/Problem" }, "500": { "$ref": "#/components/responses/Problem" } } } },
    "/": { "get": { "operationId": "getCatalog", "tags": ["site"], "summary": "API catalog", "description": "List public endpoints. Authentication is none.", "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object" } } } }, "400": { "$ref": "#/components/responses/Problem" }, "404": { "$ref": "#/components/responses/Problem" }, "429": { "$ref": "#/components/responses/Problem" }, "500": { "$ref": "#/components/responses/Problem" } } } },
    "/agent-brief": { "get": { "operationId": "getAgentBrief", "tags": ["site"], "summary": "Agent brief", "description": "Repo, disclaimer, and clone/build steps to present before running ezkey.", "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object" } } } }, "400": { "$ref": "#/components/responses/Problem" }, "404": { "$ref": "#/components/responses/Problem" }, "429": { "$ref": "#/components/responses/Problem" }, "500": { "$ref": "#/components/responses/Problem" } } } },
    "/disclaimer": { "get": { "operationId": "getDisclaimer", "tags": ["site"], "summary": "Disclaimer", "description": "As-is terms an agent should present first.", "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object" } } } }, "400": { "$ref": "#/components/responses/Problem" }, "404": { "$ref": "#/components/responses/Problem" }, "429": { "$ref": "#/components/responses/Problem" }, "500": { "$ref": "#/components/responses/Problem" } } } },
    "/install": { "get": { "operationId": "getInstall", "tags": ["site"], "summary": "Install", "description": "Clone and build commands plus CLI hint.", "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object" } } } }, "400": { "$ref": "#/components/responses/Problem" }, "404": { "$ref": "#/components/responses/Problem" }, "429": { "$ref": "#/components/responses/Problem" }, "500": { "$ref": "#/components/responses/Problem" } } } },
    "/auth": { "get": { "operationId": "getAuth", "tags": ["site"], "summary": "Auth policy", "description": "No API keys. Public sandbox.", "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object" } } } }, "400": { "$ref": "#/components/responses/Problem" }, "404": { "$ref": "#/components/responses/Problem" }, "429": { "$ref": "#/components/responses/Problem" }, "500": { "$ref": "#/components/responses/Problem" } } } },
    "/cli": { "get": { "operationId": "getCli", "tags": ["site"], "summary": "CLI", "description": "npx github:edtadros/ezkey and Homebrew formula path.", "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object" } } } }, "400": { "$ref": "#/components/responses/Problem" }, "404": { "$ref": "#/components/responses/Problem" }, "429": { "$ref": "#/components/responses/Problem" }, "500": { "$ref": "#/components/responses/Problem" } } } },
    "/version": { "get": { "operationId": "getVersion", "tags": ["site"], "summary": "Versioning", "description": "Current major version and deprecation policy.", "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object" } } } }, "400": { "$ref": "#/components/responses/Problem" }, "404": { "$ref": "#/components/responses/Problem" }, "429": { "$ref": "#/components/responses/Problem" }, "500": { "$ref": "#/components/responses/Problem" } } } }
  },
  "components": {
    "responses": {
      "Problem": {
        "description": "RFC 9457 problem details.",
        "content": {
          "application/problem+json": {
            "schema": { "$ref": "#/components/schemas/Problem" }
          }
        }
      }
    },
    "schemas": {
      "Problem": {
        "type": "object",
        "required": ["title", "status", "code", "detail", "resolution"],
        "properties": {
          "type": { "type": "string", "format": "uri" },
          "title": { "type": "string" },
          "status": { "type": "integer" },
          "code": { "type": "string" },
          "detail": { "type": "string" },
          "instance": { "type": "string" },
          "resolution": { "type": "string" }
        }
      }
    }
  }
}
